<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://github.com/AngelZacarias" target="_blank">
        <i class="icon ion-social-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/luis-angel-zacarias-maga%C3%B1a-02a159156/" target="_blank">
        <i class="icon ion-social-linkedin"></i>
      </a>
    </div>
    <p class="copyright">Luis Angel Zacarias Magaña 2020</p>
    <p class="copyright">217758632</p>
  </footer>
</div>
