@layout('layouts.master')
@section('content')
<div
  class="justify-content-end align-items-end align-content-end"
  style="height: 100%;"
>
  <h1>Actividad 1</h1>
  <h2>Examen Diagnostico</h2>
  <br>
  <img class="images-activities" src="/files/activiti1_1.png" alt="Examen diagnostico en google forms"/>
</div>
@endsection
