@layout('layouts.master')
@section('content')
<div
  class="justify-content-end align-items-end align-content-end"
  style="height: 100%;"
>
  <h1>Actividad 9</h1>
  <h2>Usuarios y Grupos</h2>
  <br>
  <div class="simple-cointainer">
    <h4>Video de implementación</h4>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/yKIHxRgdoWo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    <a class="btn-primary btn-sm" role="button" href="activity8" target="_blank">Ver la Teoria de esta lección</a>
  </div>

  <h4>Referencias</h4>
  <div class="flex-parent">
    <div class="flex-child long-and-truncated">
      <ul>
        <li><a href="https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_12_administracin_de_usuarios_en_windows_server_2016.html" target="_blank">BIRTHLH. (2020, Octuber 19). 1.2.- Administración de usuarios en Windows Server 2016. Retrieved from https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_12_administracin_de_usuarios_en_windows_server_2016.html</a></li>
        <li><a href="https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_121_configuracin_de_usuarios__locales.html" target="_blank">BIRTHLH. (2020, Octuber 19). Gestión de usuarios y grupos desde el Panel de control. Retrieved from https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_123_gestin_de_usuarios_y_grupos_desde_el_panel_de_control.html</a></li>
        <li><a href="https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_123_gestin_de_usuarios_y_grupos_desde_el_panel_de_control.html" target="_blank">BIRTHLH. (2020, Octuber 19). Configuración de usuarios locales. Retrieved from https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_121_configuracin_de_usuarios__locales.html</a></li>
        <li><a href="https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_122_operaciones_con_grupos_de_usuarios_locales.html" target="_blank">BIRTHLH. (2020, Octuber 19). Operaciones con grupos de usuarios locales. Retrieved from https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO04/es_ASIR_ISO04_Contenidos/website_122_operaciones_con_grupos_de_usuarios_locales.html</a></li>
        <li><a href="https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO07/es_ASIR_ISO07_Contenidos/website_2_permisos_y_derechos.html" target="_blank">BIRTHLH. (2020, Octuber 19). Permisos y Derechos. Retrieved from https://ikastaroak.birt.eus/edu/argitalpen/backupa/20200331/1920k/es/ASIR/ISO/ISO07/es_ASIR_ISO07_Contenidos/website_2_permisos_y_derechos.html</a></li>
      </ul>
    </div>
  </div>
</div>
@endsection
