@layout('layouts.master')
@section('content')
<div
  class="justify-content-end align-items-end align-content-end"
  style="height: 100%;"
>
  <h1>ACTIVIDAD EN CONSTRUCCIÓN</h1>
  <h4>Esta actividad esta en proceso creativo para ser un trabajo de calidad. Intente más tarde.</h4>
  <br>
  <img class="image-under-construction" src="/files/underconstruction.svg" alt="under construction"/>
</div>
@endsection
